<div class="container py-8 px-6 mx-auto text-left">
  <div class="row">
    <div class='col-sm-12'>
      This tool is a work-in-progress and is inspired by other existing projects (see sources).

      The current analyzes this tool performs can be found on the <a href="https://gitlab.com/lienvdsteen/linter" class='text-info'>Inclusive language linter project</a>.
      The Ruby library and this tool are not finished and are welcoming contributions to both projects:

      <ul>
        <li><a href='https://gitlab.com/lienvdsteen/linter#contributing' class='text-info'>Ruby Gem</a></li>
        <li><a href='https://gitlab.com/lienvdsteen/inclusiveness-check#contributing' class='text-info'>Tool</a></li>
      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      Here's a list of the sources we've used to create the library.
      <ul>
        <% sources.each do |source| %>
          <li><a href="<%= source['url'] %>" class='text-info'><%= source['title'] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <h4>Support the project</h4>
      <p>
        <style>.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 15px 7px 10px !important;line-height: 35px !important;height:51px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#79D6B5 !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 15px 7px 10px !important;font-size: 22px !important;letter-spacing: 0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}</style><link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/lienvdsteen"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px;font-size:28px !important;">Buy me a coffee</span></a>
      </p>
    </div>
  </div>
</div>
