<div class='container text-left'>
  <div class="row">
    <div class="col-sm-12">
      <h3>Gender-neutral language</h3>
      <p>
        Gender-neutral language is a term covering the use of non-sexist
        language, inclusive language or gender-fair  language.  The  purpose  of
        gender-neutral language is to avoid word choices which may be interpreted
        as biased, discriminatory or demeaning by implying that one sex or social
        gender is the norm. Using gender-fair and inclusive language also helps
        reduce gender stereotyping, promotes social change and contributes to
        achieving gender equality.
      </p>
      <p>
        Gender-neutral or gender-inclusive language is more than a matter of political correctness.
        Language powerfully reflects and influences attitudes, behaviour and perceptions.
      </p>

      <p>
        When using gendered wording in job ads, <a class='text-info' href='http://gender-decoder.katmatfield.com/static/documents/Gaucher-Friesen-Kay-JPSP-Gendered-Wording-in-Job-ads.pdf'>
        research</a> has shown that it will put women off applying for when the advertisement is masculine-coded.
      </p>

      <p>
        We recommend the following resources if you're interested in learning more about this:
        <ul>
          <li>
            <a class='text-info' href='https://www.teenvogue.com/story/how-to-use-gender-neutral-words'>How to use gender neutral words</a>
          </li>
          <li>
            <a class='text-info' href='https://blog.hubspot.com/marketing/gender-neutral-pronouns'>Gender Neutral Pronouns</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
