<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <% if local_variables.include?(:result) %>
        <%= erb :results, locals: {result: result, job_result: job_result} %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <form method='POST' action='/check' class='space-y-6'>
        <div class="form-group">
          <textarea class="form-control" name="text" rows="20" placeholder='Add your text'><%= text %></textarea>
        </div>

        <div class='text-right'><div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name='job' value="<% job_result ? 't' : 'f' %>" id="job-ad">
          <label class="form-check-label" for="job-ad">
            This is a job ad
          </label>
        </div>
          <button type="submit" class="btn btn-info btn-right form-check-inline">Analyze</button>
        </div>
      </form>
    </div>
  </div>
</div>
