<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active text-info" id="result-gender-coded-tab" data-toggle="tab" href="#result-gender-coded" role="tab" aria-controls="result-gender-coded" aria-selected="true">Gender-coded Language</a>
    <a class="nav-item nav-link text-info" id="result-pronoun-use-tab" data-toggle="tab" href="#result-pronoun-use" role="tab" aria-controls="result-pronoun-use" aria-selected="false">Pronoun use</a>
    <a class="nav-item nav-link text-info" id="result-misused-words-tab" data-toggle="tab" href="#result-misused-words" role="tab" aria-controls="result-misused-words" aria-selected="false">Misused words</a>
    <% if job_result %>
      <a class="nav-item nav-link text-info" id="result-mindset-use-tab" data-toggle="tab" href="#result-mindset-use" role="tab" aria-controls="result-mindset-use" aria-selected="false">Growth vs Fixed</a>
    <% end %>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="result-gender-coded" role="tabpanel" aria-labelledby="result-gender-coded-tab">
    <%= erb :'results/gender_coded', locals: {result: result[:gender_association_analysis]} %>
  </div>

  <div class="tab-pane fade" id="result-pronoun-use" role="tabpanel" aria-labelledby="result-pronoun-use-tab">
    <%= erb :'results/pronoun_use', locals: {pronoun_result: result[:pronoun_analysis]} %>
  </div>

  <div class="tab-pane fade" id="result-misused-words" role="tabpanel" aria-labelledby="result-misused-words-tab">
    <%= erb :'results/misused_words', locals: {misused_words_result: result[:misused_words_analysis]} %>
  </div>

  <% if job_result %>
    <div class="tab-pane fade" id="result-mindset-use" role="tabpanel" aria-labelledby="result-mindset-use-tab">
      <%= erb :'results/mindset_use', locals: {result: job_result} %>
    </div>
  <% end %>
</div>


