<div class="bg-white rounded shadow py-2">
  <% if local_variables.include?(:result) %>
    <div class='text-left m-4'>
      For growth and fixed mindset word use, the text is marked as <b><%= result.trend %></b>.
    </div>

    <div class="card-deck m-2">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title">Fixed-coded words</h5>
          <p class="card-text">
            <% if result.fixed_coded_word_counts.any? %>
              <ul class="list-group">
                <% result.fixed_coded_word_counts.each do |item| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%= item[0] %><span class="badge badge-info badge-pill"><%= item[1] %></span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <div>There were no fixed coded words found in this text.</div>
            <% end %>
          </p>
        </div>
      </div>

      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title">Growth-coded words</h5>
          <p class="card-text">
            <% if result.growth_coded_word_counts.any? %>
              <ul class="list-group">
                <% result.growth_coded_word_counts.each do |item| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%= item[0] %><span class="badge badge-info badge-pill"><%= item[1] %></span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <div>There were no growth coded words found in this text.</div>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <div class='text-left m-4'>
    <h5 class="card-title">Our recommendation</h5>
    <div>
      <%= result.recommendation %>
    </div>
  </div>
</div>
