<div class="bg-white rounded shadow py-2">
  <div class='m-4 text-left'>
    <% if misused_words_result.misused_words.any? %>
    <h4 class='p-6'>Misused words:</h4>
    <ul class='px-6'>
      <% misused_words_result.misused_words.each do |item| %>
        <%= "#{item['word']}: replace it with any of the following words: #{item['replace_with'].join(', ')}"  %>
      <% end %>
    </ul>
  <% else %>
    <div>There were no misused words found in this text.</div>
  <% end %>
  </div>
</div>
