<div class="bg-white rounded shadow py-2">
  <% if local_variables.include?(:pronoun_result) %>
    <div class='m-4 text-left'>
      For pronoun use, the text is marked as <b><%= pronoun_result.trend %></b>. If you want to be inclusive to all,
      use <a href='https://lgbtrc.usc.edu/trans/transgender/pronouns/' class='text-info'>gender-neutral pronouns</a>.
    </div>
  <% end %>

  <div class='text-left m-4'>
    Read more about <a href='/gender-neutral' class='text-info'>gender neutral language</a>.
  </div>
</div>
